#!/usr/bin/python3

# Rename this file 'contacts.py' in order to use the motivator bot's notify function.

email = ("joebob@hisdomain.com")
mms = ("5558675309@mms.att.net")
sms = ("5558675309@sms.att.net")
